.home__producto {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.home__producto__title {
    background: rgb(81,67,154);
background: linear-gradient(142deg, rgba(81,67,154,1) 0%, rgba(125,208,190,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    text-align: center;
    color: white;
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
}
.home__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.sugerencias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.error-conexion-bg{
    background-image: url(../../assets/images/archive-product-svg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.error-conexion{
    backdrop-filter: blur(3px);
    display: flex;
    width: 100vw;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.text-error-conexion{
    text-align: center !important;
    float: none;
}
