.Navbcss {
    background-color: #7dd0bee5;
    backdrop-filter: blur(5px);
}

.container-nav {
    max-width: 1200px;
    margin: 0 auto;
}

.btn-regist {
    background: rgba(81, 67, 154, 1) !important;
    border: none !important;
    border-radius: 0px !important;
}

.btn-log {
    background: rgba(81, 67, 154, 1) !important;
    border: none !important;
    border-radius: 0px !important;
}

.btn-pedidos {
    background: rgba(81, 67, 154, 1) !important;
    border: none !important;
    border-radius: 0px !important;
    width: 100%;
}

.btn-cs {
    background: rgba(81, 67, 154, 1) !important;
    border: none !important;
    border-radius: 0px !important;
}
