.container-form-registro {
    width: 400px;
    height: 500px;
    max-width: 1200px;
    margin: 0px auto;
    margin-top: 150px;
    padding: 20px;
    border-radius: 20px;
}
.formulario-registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.formulario-registro input {
    font-size: 1.5rem;
    border-radius: 5px;
    margin-bottom: 10px;
}
.formulario-registro h2 {
    margin: 35px 0px;
    color: white;
}
.formulario-registro p a {
    text-decoration: none;
}
.formulario-registro button {
    font-size: 22px;
    border-radius: 20px;
    margin-top: 15px;
}
.form-floating {
    width: 100%;
}

@media (max-width:500px) {
    .container-form-registro {
        width: 95%;
    }
}